<!doctype html>
<html>
<head>
<style>
.myDiv {
  border: 15px outset Silver;
  background-image: linear-gradient(black, silver);
  text-align: center;
}
</style>
</head>
<body style="background-color:Gainsboro;">
<div class="myDiv">
  <h2 style="font-size:50px; color:white; font-family:Candara; text-align: center">e-Learning Helpmate</h2>
  <p style="font-size:20px; color:PapayaWhip; font-family:Monospace; text-align: center">Everything is a learning experience</p>
</div>
<h2 style="font-size:25px; color:black; font-family:Candara">Select a video to upload and play</h2>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required style="font-size:20px; color:black; font-family:Cursive; text-align: center">
        </p>
    </dl>
    <p>
        <label for="language" style="font-size:20px; color:black;font-family:Cursive">Select Language:</label>
        <select name="language" id="language" style="font-size:20px; color:black; font-family:Cursive; text-align: center">
            <option value="english">English</option>
            <option value="sinhala">Sinhala</option>
            <!-- Add more language options as needed -->
        </select>
    </p>
    <p>
        <input type="submit" value="Upload" style="font-size:20px; color:black; font-family:Cursive; text-align: center">
    </p>
</form>
</body>
</html>
